.home {
  color: #e0e1dd;
  position: relative;
  height: 85vh;
  /* background-image: url('../../assets/background.jpg'); */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headline {
  color: #778da9;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-left: 22%;
}

.title {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
}

.sub_title {
  font-size: x-large;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
}

@media (max-width: 1024px) {
  .home {
    height: 82vh;
  }

  .headline{
    margin-left: 8%;
  }
}
@media (max-width: 769px) {
  .home {
    height: 75vh;
  }

}
@media (max-width: 576px) {
  .home {
    height: 70vh;
  }

  .headline {
    margin-left: 30%;
  }
}

@media (max-width: 480px) {
  .home {
    height: 69vh;
  }

  .headline {
    margin-left: 30%;
    font-size: 2em;
  }

  .title{
    font-size: 3em;
  }
}

@media (max-width: 300px) {
  .home {
    height: 65vh;
  }

  .headline {
    margin-left: 30%;
  }
}
