.footer {
  position: relative;
  }

.footer__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  text-decoration: none;
  margin: 0 10px;
}

@media screen and (max-width: 1024px) {
  .link {
    text-decoration: none;
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    position: static;
    transform: none;
    text-align: center;
  }
  
  .link {
    display: block;
  }
}
